{% extends 'core/base/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
	<style>
		.bounce-1 {
			animation-name: bounce-1;
			animation-timing-function: ease-in-out;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -21px;
			z-index: 99;
			color: white;
			animation-duration: 0.75s;
			animation-iteration-count: infinite;
			font-size: 50px;
			transform-origin: bottom;
		}

		@keyframes bounce-1 {
			0% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(-25px);
			}
			100% {
				transform: translateY(0);
			}
		}
	</style>
{% endblock %}
{% block subtitle %} HomePage {% endblock %}

{% block content %}
	<!-- start of page main section -->
	<main id="main">
		<!-- start of main banner -->
		<div class="page-header text-center bg-img-full" style="background-image: url({% static 'images/bg-title.jpg' %}); margin-top: 0;">
			<div class="pad-top-lg hidden-sm"></div>
			<span class="bg-overlay"></span>
			<div class="container">
				<div class="row pad-top-md pad-bottom-xs">
					<div class="col-xs-12">
						<h1 class="heading">{% trans 'About Us' %}</h1>
					</div>
				</div>
			</div>
			<div class="pad-top-lg hidden-sm"></div>
		</div>
		<section class="bg-grey wedo-section add text-center ">
			<div class="pad-top-lg hidden-sm"></div>
			<div class="container pad-top-lg">
				<div class="row pad-bottom-md">
					<div class="col-md-5 col-xs-12">
						<!-- start of main-heading -->
						<header class="main-heading mar-bottom-">
							<h2 class="heading">Música conecta.</h2>
							<p class="text-justify">Gig2You é uma plataforma que conecta contratantes e organizadores de
								evento, diretores e músicos
								locais, pastores e igrejas, com artistas e seus projetos, com o objetivo principal de
								reduzir
								custos de deslocamento de estrutura e pessoal mantendo a qualidade daquela apresentação
								musical.</p>
						</header><!-- end of main-heading -->
					</div>
				</div>
			</div>
			<div class="pad-top-lg hidden-sm"></div>
			<div class="img-box bg-img-full"
				 style="background-image: url({% static 'images/concerto_musica_800_650.jpg' %});"></div>
		</section>

		<section class="bg-grey wedo-section add text-left">
			<div class="pad-top-lg hidden-sm"></div>
			<div class="pad-top-md hidden-sm"></div>
			<div class="container">
				<div class="row pad-bottom-xs">
					<div class="col-md-5 col-xs-12 col-md-push-7">
						<!-- start of main-heading -->
						<header class="main-heading mar-bottom-xs">
							<p class="text-justify">O Brasil é um país gigante em cultura, em eventos, mas também em
								dimensões. Nos últimos anos
								locomover-se por este país tão extenso contando apenas com a malha aérea existente se
								tornou
								inviável do ponto de vista financeiro para o projeto de alguns artistas e principalmente
								para os
								organizadores de eventos. Gig2You reduz consideravelmente (em alguns casos em 200%) o
								custo de deslocamento, traslados,
								hospedagem e alimentação da “Guig” (banda) porque trabalha com músicos locais atendendo
								os
								artistas parceiros da plataforma com a qualidade e profissionalismo que cada um destes
								artistas
								precisa.</p>
						</header><!-- end of main-heading -->
					</div>
				</div>
			</div>
			<div class="pad-top-lg hidden-sm"></div>
			<div class="img-box bg-img-full right"
				 style="background-image: url({% static 'images/estudio_gravacao_800_650.jpg' %});"></div>
		</section><!-- end of wedo section -->

		<section class="bg-grey wedo-section add text-right">
			<div class="pad-top-lg hidden-sm"></div>
			<div class="container pad-top-lg">
				<div class="row pad-bottom-md">
					<div class="col-md-5 col-xs-12">
						<!-- start of main-heading -->
						<header class="main-heading mar-bottom-">
							<p class="text-justify">Todas as Guig’s são formadas por músicos profissionais com anos de
								bagagem e
								experiência e dirigidas por Diretores Musicas (DML’s) locais, que endossam sua qualidade
								musical
								e acompanham a execução de seus serviços junto ao artista (pré e pós), garantindo a
								qualidade da
								prestação daquele serviço musical. Os músicos são individualmente escolhidos levando-se
								em conta a experiência, musicalidade,
								profissionalismo mas, principalmente, a seriedade na maneira como vivem em sociedade e
								como são
								vistos por ela, uma vez que um dos objetivos da plataforma também é conectar pessoas que
								sejam
								positivamente relevantes, cada uma em sua esfera.</p>
						</header><!-- end of main-heading -->
					</div>
				</div>
			</div>
			<div class="pad-top-lg hidden-sm"></div>
			<div class="img-box bg-img-full"
				 style="background-image: url({% static 'images/band_800_650.jpg' %});"></div>
		</section>

		<section class="bg-grey wedo-section add text-left">
			<div class="pad-top-lg hidden-sm"></div>
			<div class="pad-top-md hidden-sm"></div>
			<div class="container">
				<div class="row pad-bottom-xs">
					<div class="col-md-5 col-xs-12 col-md-push-7">
						<!-- start of main-heading -->
						<header class="main-heading mar-bottom-xs">
							<p class="text-justify">Felipe Barros, idealizador da plataforma,
								resume: “Penso que a “arte” é, em sua essência, um processo criativo que expressa
								emoções,
								opiniões e idéias do artista. Sendo assim, mesmo que este não o queira, aquilo que criou
								e que
								foi divulgado, irá influenciar outras pessoas. O que você faz, sempre estará repleto
								daquilo que você é.”</p>

							<p class="text-justify" style="font-weight: bold; color: #09581f"> Este princípio faz de
								Gig2You uma solução eficaz e confiável para você e seu evento.</p>
						</header><!-- end of main-heading -->
					</div>
				</div>
			</div>
			<div class="pad-top-lg hidden-sm"></div>
			<div class="img-box bg-img-full right"
				 style="background-image: url({% static 'images/player_800_650.jpg' %});"></div>
		</section><!-- end of wedo section -->

		<section class="bg-grey pad-top-lg pad-bottom-md">
			<div class="container">
				<!-- start of main-heading -->
				<header class="main-heading text-center row">
					<div class="col-xs-12">
						<h2 class="heading"> Artistas Parceiros </h2>
						<p>Conheça artistas que já utilizam nossos serviços.</p>
					</div>
				</header><!-- end of main-heading -->
				<div class="row pad-top-md">
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/gabi_sampaio.jpg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://www.gabisampaio.com/" target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Gabi Sampaio</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/mari_borges.jpg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://www.sonymusic.com.br/artistas/mari-borges/"
							   target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Mari Borges</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/felipe_barros.jpg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://www.instagram.com/felipebarrosreal/" target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Felipe Barros</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
				</div>
				<div class="row pad-top-md">
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/leticia_brandao.jpg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://leticiabrandaooficial.com/" target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Leticia Brandao</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/jefte_santos.jpeg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://www.universalmusic.com.br/artista/jefte-santos/"
							   target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Jefte Santos</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/samuel_mizrahy.jpg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="http://www.smkm.com.br/" target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Samuel Mizrahy</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
				</div>
				<div class="row pad-top-md">
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/samuel_barbosa.jpeg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://www.instagram.com/samuelbarbosasb/" target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Samuel Barbosa</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
					<div class="col-xs-12 col-sm-4 mar-bottom-xs">
						<!-- start of portfolio-box -->
						<div class="portfolio-box">
							<img src="{% static 'images/weslei.jpg' %}" alt="image description"
								 class="img-responsive">
							<a class="over" href="https://www.instagram.com/wesleisantosoficial/" target="_blank">
								<div class="holder">
									<div class="frame">
										<span class="heading text-capitalize">Wesley Santos</span>
									</div>
								</div>
							</a>
						</div><!-- end of portfolio-box -->
					</div>
				</div>
			</div>
		</section>
		<div class="container pad-top-lg pad-bottom-lg">
			<!-- start of main-heading -->
			<header class="main-heading text-center row">
				<div class="col-xs-12">
					<h2 class="heading">Diretores Musicais</h2>
					<p>Conheça nossos diretores musicais associados.</p>
				</div>
			</header><!-- end of main-heading -->
			<div class="row pad-top-md mar-bottom-sm">
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/andre_calore.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">ANDRE CALORE</h3>
							<span class="meta">São Paulo</span>
							<p>André Calore é multi-instrumentista, atua hoje como o nosso Diretor Musical em
								São Paulo além de desempenhar a mesma função em uma outra instituição renomada,
								a Igreja Batista do Povo. Bacharel em TI, Administração de empresas e em
								Teologia, trabalhou, seja em produção, vocal ou como instrumentista, com
								diversos nomes de destaque na música, tais como Double You, Salgadinho, Leandro
								Lehart, Nicki French, Art Popular, Gabriel Sater e no meio Gospel com Ron
								Kenoly, Raiz Coral, Robson Nascimento, Ton Carfi, Templo Soul, 3 Palavrinhas,
								entre muitos outros.</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/johnny_essi.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">JOHNNY ESSI</h3>
							<span class="meta">Rio de Janeiro</span>
							<p>
								Johnny Essi nasceu em Minas Gerais, mas hoje vive na cidade de São Paulo. Tem
								vasto conhecimento sobre equipamentos de áudio, softwares e instrumentos
								musicais, tendo por muito tempo trabalhado no setor de vendas de equipamentos de
								uma das maiores lojas do Brasil no segmento. Como contratante e músico, produziu
								centenas de projetos, bem como acompanhou artistas como Mariana Valadão,
								Fernandinho, Santa Geração (Antônio Cirilo) e Fernanda Brum. Atualmente é
								contratante dos projetos das cantoras Priscila Alcântara e Alne Barros, com quem
								esta em turnê.</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/Hilton_Mendes.jpeg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">HILTON MENDES</h3>
							<span class="meta">Salvador</span>
							<p>contratante e diretor musical de diversos trabalhos. Já atuou como guitarrista de
								grandes artistas da musica baiana. Formado em harmonia pelo curso de extensão da
								UFBA com professores americanos, Violão Popular pela UFBA e de Musica Popular
								Brasileira. Atualmente atua como contratante musical, arranjador e gestor de
								carreira e tem realizado trabalhos artÌsticos diversos. Seo Fernandes, Marcos
								Freire, Regis Danese, Adhemar de Campos, Saulo Fernandes, Gilmelandia, Babado
								Novo e outros. Como diretor do Casa de Levi Studios participou das produções dos
								DVDs Luan Santana Acústico 2014 , Jorge e Mateus, Mateus e Kauan, Jota A,
								Renascer Praise entre outros.</p>
						</div>
					</div><!-- end of post -->
				</div>
			</div>
			<div class="row pad-top-md mar-bottom-sm">
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/jason_silva.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">JASON SILVA</h3>
							<span class="meta">Curitiba</span>
							<p>Jason é músico, contratante, arranjador e vocal couch. Nascido na cidade de SP
								trabalhou por mais de 15 anos na cena. Em Curitiba faz parte da diretoria do
								Núcleo de Músicos onde realiza trabalho de mentoriamento de músicos e apoio
								musical.</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/jarley_brandao.png' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">JARLEY BRANDÃO</h3>
							<span class="meta">Belo Horizonte</span>
							<p>Jarley Brandão é guitarrista, contratante musical, professor e idealizador do
								projeto "Arrumando a Casa”. Viaja todo o Brasil levando conceitos
								estruturais para o desenvolvimento de equipes musicais em palestras e
								workshops. Foi integrante do Ministério Diante do Trono por 9 anos e hoje é
								líder do Ministério de louvor de Jovens na Igreja Batista da Lagoinha e
								integrante da coordenação do departamento de louvor desta instituição.</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/Ronan_barros.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">RONAN BARROS</h3>
							<span class="meta">Brasília</span>
							<p>Ronan Barros é contratante musical Brasiliense, atuante há mais de 15 anos
								no mercado da música; Proprietário do selo Omni e do Barros Music
								Studio. Atua em diversas áreas da música e já teve o privilégio de
								trabalhar com artistas que hoje fazem parte do casting de grandes
								gravadoras. Com seu selo musical trabalha para que novos artistas sejam
								lançados no mercado.</p>
						</div>
					</div><!-- end of post -->
				</div>
			</div>
			<div class="row pad-top-md mar-bottom-sm">
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/Adriano_Martins.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">ADRIANO MARTINS</h3>
							<span class="meta">Porto Velho</span>
							<p>Guitarrista, contratante musical e Biólogo, é um dos líderes do ministério de louvor da
								Igreja Batista Nacional Betesda, e presta serviços artísticos a variados artistas
								locais. Como instrumentista teve oportunidade de acompanhar, inclusive com montagem e
								acompanhamento de banda, nomes como: Davi Silva, Lucas Santana, Thiago Godoi, Klev
								Soares , Fred Arrais, Lu Alone entre outros.</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/Felipe_Mesquita.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">FELIPE MESQUITA</h3>
							<span class="meta">Fortaleza</span>
							<p>Músico multi Instrumentista autodidata, contratante Musical e Arranjador que trabalha a
								mais de 15 anos no mercado gospel, gravou vários artistas independentes regionais e
								nacionais como Cicero Nogueira, Mattos Nascimento, Eliezer Rosa, Eulene Mesquita,
								Expresso Pentecostal, Cyda Brandão, entre outros e atuou como tecladista e contratante
								também com alguns artistas locais como Cicero Oliveira, Felipão (Graça Music) e Banda
								Som & Louvor (Som Livre). Atualmente tem seu foco somente no seu studio em Fortaleza
								onde se divide na produção musical com os artistas do meio gospel, fazendo trilhas
								para propagandas pra TV local e sempre atuando em campanhas políticas de Prefeitos e
								Governadores , participou como diretor musical e arranjador de 2 projetos do Jornal O
								Povo chamando Os Cearences, projeto cultural onde valoriza os talentos da terra e como
								tecladista em sua igreja Assembleia de Deus Templo Central.</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/myel_araujo.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">MYEL ARAÚJO</h3>
							<span class="meta">Teresina</span>
							<p>Nascido em Itubiara GO, hoje mora na cidade de Teresina PI. A mais de 17 anos atua como
								arranjador contratante e diretor musical, tendo no currículo centenas de projetos, desde
								produções completas até participações especiais em variados projetos. É tecladista
								e proprietário do MA studio, diretor musical do ministério de louvor da Igreja Batista
								do Angelim, tendo desenvolvido trabalhos para os pastores Fred e Flávia Arrais, entre
								outros.
							</p>
						</div>
					</div><!-- end of post -->
				</div>
			</div>
			<div class="row pad-top-md mar-bottom-sm">
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/rick_galucio.jpg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">RICK GALÚCIO</h3>
							<span class="meta">São Luis</span>
							<p>Tecladista e contratante há mais de 10 anos.
								Tocou com nomes como Fred Arrais, Marcus Sales, Marcos Nunes e Banda Som e Louvor Atua
								também como contratante de musicais e trilhas para TV, com experiência em publicidade e
								propaganda, e como diretor musical da Primeira Igreja Crista Evangélica de São Luís,
								onde é responsável pela produção musical, coordenação de bandas, bem como fluxo de
								informações e VS's dos cultos e reuniões.
							</p>
						</div>
					</div><!-- end of post -->
				</div>
				<div class="col-xs-12 col-sm-4 mar-bottom-xs">
					<!-- start of post -->
					<div class="post">
						<img src="{% static 'images/Bruno_Gusmao.jpeg' %}" alt="image"
							 class="img-responsive">
						<div class="box bg-grey">
							<h3 class="heading">BRUNO GUSMÃO</h3>
							<span class="meta">Recife</span>
							<p>Tecladista, contratante musical, arranjador, compositor e engenheiro de áudio, é também
								formado em Direito. Por cerca de 20 anos vem atuando como contratante musical,
								principalmente em Recife/PE, onde já produziu diversos artistas e vários eventos,
								sendo profundo conhecedor da cena musical nesta região. Dispõe de vasta experiência
								liderando equipes. Em 2001 e 2013 fez curso de produção musical e engenharia de áudio
								em OHIO/USA (The Recording Workshop). Também trabalhou como engenheiro de áudio na
								gravadora Novo Tempo, onde trabalhou com artistas como Leonardo Gonçalves e Arautos do
								Rei. Mais recentemente foi líder de adoração no FHOP em Florianópolis, onde também
								dirigiu o selo musical FHOP MUSIC e produziu a conferência ONETHING BRASIL em 2017 e
								2019. Suas canções já foram gravadas por vários intérpretes do Brasil e o seu
								trabalho autoral é reconhecido em várias regiões. Atualmente, ele e sua esposa
								integram o quadro pastoral da igreja Família ICP.
							</p>
						</div>
					</div><!-- end of post -->
				</div>
			</div>
{#            <div class="row">#}
{#                <a href="{% url 'core:preregister' %}" class="btn btn-success">{% trans 'Pre Register Now!' %}</a>#}
{#            </div>#}
			{#                <div class="row">#}
			{#                    <div class="col-xs-12 text-center">#}
			{#                        <a href="{% static 'Gig2You.pdf' %}" class="btn btn-default add text-uppercase">{% trans 'See more' %}</a>#}
			{#                    </div>#}
			{#                </div>#}
		</div>
		{#        </div>#}
	</main><!-- end of page main section -->
	<!-- start of page footer -->
{% endblock %}
{% block backbutton %}

{% endblock %}