{% extends 'core/base/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %}
{{ form.media }}
    <style>
    .fa{
        color: #39b54a;
        font-size: 65px;
    }
    .fa:hover {
        color: #09581f;
    }

	body{
		background-color: #363636;
		color: #ededed;
	}
    </style>
{% endblock %}
{% block content %}
    <main id="main">
        <!-- start of main banner -->
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <header class="main-heading text-center row">
                    <div class="col-xs-12"><br>

                        <img id="comp-iggmnz6timgimage" style="object-position: 50% 50%; width: 255px; height: 206px; object-fit: cover;" alt="conect.png" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/8d0b80_bb6ef76f8b7640d483a6c02bb78a6e03~mv2.png/v1/fill/w_510,h_412,al_c,q_80,usm_0.66_1.00_0.01/conect.webp">
                        <br>
                        <br>
                        <h2 class="heading" style="color: #ededed;"> {% trans 'Contact us' %} </h2>
                        <hr style="border-top: 3px solid #38892f" width="80px">
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p class="text-center">
                            <a href="mailto:guigyoumusic@gmail.com?Subject=About%20GuigYou" style="color:#ededed; font-size: x-large;">guigyoumusic@gmail.com</a>
                        </p>
                        <p class="text-center" style="color:#ededed; font-size: x-large;">
                            Tel: + 55 (31) 9229.9673
                        </p><br>
                        <p class="text-center">
                            <a target="_blank" href="https://www.instagram.com/gig2you/" class="fa fa-instagram" style="
                                margin-right: 10px;
                                margin-left: -5px;
                                width: 30px;
                                text-align: center;
                                text-decoration: none;
                                border-radius: 50%;
                            "></a>
                            <a target="_blank" href="https://www.facebook.com/guig.you" class="fa fa-facebook" style="
                                margin-left: 15px;
                                padding: 20px;
                                width: 30px;
                                text-align: center;
                                text-decoration: none;
                                border-radius: 50%;
                            "></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block backbutton %}
{% endblock %}
{% block footer %}
{% endblock %}
