{% extends 'core/base/base.html' %}
{% load i18n %}
{% block extra_css %}
{{ form.media }}
    <style>
	body{
		background-color: #363636;
		color: #ededed;
	}
    .panel-body{
        {#background-color: #363636;#}
		color: #09581f;
        text-align: justify;
    }
    </style>
{% endblock %}
{% block subtitle %}FAQ's{% endblock %}
{% block content %}
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <header class="main-heading text-center row">
                    <div class="col-xs-12"><br>
                        <h2 class="heading" style="color: #ededed;"> {% trans 'FAQ' %} </h2>
                        <hr style="border-top: 3px solid #38892f" width="80px">
                    </div>
                </header>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for faq in faqs %}
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                              {{ faq.title }}
                            </a>
                          </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            {{ faq.description }}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}