{% extends 'core/base/base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
	<style>
		{#.bounce-1 {#}
		{#	animation-name: bounce-1;#}
		{#	animation-timing-function: ease-in-out;#}
		{#	position: absolute;#}
		{#	bottom: 0;#}
		{#	left: 50%;#}
		{#	margin-left: -21px;#}
		{#	z-index: 99;#}
		{#	color: white;#}
		{#	animation-duration: 0.75s;#}
		{#	animation-iteration-count: infinite;#}
		{#	font-size: 50px;#}
		{#	transform-origin: bottom;#}
		{#}#}
        {##}
		{#@keyframes bounce-1 {#}
		{#	0% {#}
		{#		transform: translateY(0);#}
		{#	}#}
		{#	50% {#}
		{#		transform: translateY(-25px);#}
		{#	}#}
		{#	100% {#}
		{#		transform: translateY(0);#}
		{#	}#}
		{#}#}



	</style>
{% endblock %}
{% block subtitle %} HomePage {% endblock %}

{% block content %}
	<!-- start of page main section -->
	<main id="main">
		<!-- start of main banner -->
		<section class="main-banner main-slider text-center">
			<!-- slide -->
			<div class="slide bg-img-full" style="background-image: url({% static 'images/cover_1920_1000.jpg' %});">
				<span class="bg-overlay"></span>
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="caption">
								<div class="holder">
{#									<h1 class="heading small3 text-uppercase">#}
{#										{% trans 'Gig2You' %}asd#}
{##}
{#									</h1>#}
                                    <div class="heading home_video_button_container">
{#                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/BG00hLV__0w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                                    <a href="https://www.youtube.com/embed/BG00hLV__0w?autoplay=1" class="play fa gig2you_home_video_button fa-play  lightbox fancybox.iframe text-center margin-zero"></a>
                                    </div>

                                    <a href="{% url 'core:preregister' %}" class="btn-green text-uppercase">{% trans 'Sign Up' %}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of main banner -->

	</main><!-- end of page main section -->
	<!-- start of page footer -->
{% endblock %}
{% block backbutton %}

{% endblock %}