{% extends 'core/base/base_internal.html' %}
{% load static %}
{% load i18n %}
{% load user_profile_tags %}
{% block extra_css %}

{% endblock %}

{% block content %}
    {% if has_not_accepted_use_terms %}
        <div class="modal fade" id="terms-of-service" tabindex="-1" role="dialog" aria-labelledby="terms-of-service" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">{% trans 'Accept the platform Terms of Service to be able to use all its features!' %}</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                            <p>{{ terms }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">{% trans 'Not now' %}</button>
                        <a href="{% url 'core:acceptterms' %}" class="btn btn-alt-success">
                            <i class="fa fa-check"></i> {% trans 'I have read and accept the Terms of Service' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
	<!-- start of page main section -->
	<h2 class="content-heading"> {% trans 'Upcoming Events' %} </h2>
	<div class="block" id="events_container">
		<div class="block-content">
			<table id="upcomingEvents" class="table table-striped nowrap" style="width:100%">
				<thead>
				<tr>
					<th class="text-center">{% trans 'Name' %}</th>
					<th class="text-center">{% trans 'Region' %}</th>
					<th class="text-center">{% trans 'Date' %}</th>
					<th class="text-center">{% trans 'Feat Artist' %}</th>
					<th class="text-center">{% trans 'Status MD' %}</th>
					<th class="text-center">{% trans 'Status Artist' %}</th>
					<th class="text-center">{% trans 'Status Payment' %}</th>
					<th class="text-center">{% trans 'Details' %}</th>
				</tr>
				</thead>
				<tbody>
				{% for event in events %}
					{% if event.is_past == False and event.is_active %}
						<tr>
							<td class="text-center">{{ event.name }}</td>
							<td class="text-center">{{ event.region }}</td>
							<td class="text-center" data-sort="{{ event.date|date:'Ymd' }}">{{ event.date }}</td>
							<td class="text-center">{{ event.artist.name }}</td>
							<td class="text-center">{{ event.get_confirmed_icon_html|safe }}</td>
							<td class="text-center">{{ event.get_artist_confirmation_icon_html|safe }}</td>
							<td class="text-center">{{ event.get_payment_confirmation_icon_html|safe }}</td>
							<td class="text-center"><a href="{% url 'core:event' event.id %}" class="btn btn-info"><i
									class="fa fa-eye table-button"></i> </a></td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
			{% if user_type == 'producer' %}
				<div class="row text-center mar-top-sm">
					<a href="{% url 'core:newevent' %}"
					   class="btn btn-success text-uppercase">{% trans 'new event' %}</a>
				</div>
			{% endif %}
		</div>

	</div>
	{#		</div>#}


{% endblock %}

{% block extra_js %}
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function () {
		    jQuery('#terms-of-service').modal('show');
			$('#upcomingEvents').DataTable({
				"order": [[ 2, 'desc' ]],
				{#searching: false,#}
				{#paging: false,#}
				info: false,
				responsive: true,
				"scrollX": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
			});
		});

	</script>

{% endblock %}