{% extends 'core/base/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_css %}
    {{ form.media }}
    <style>
        body {
            background-color: #363636;
            color: #ededed;
        }
    </style>
{% endblock %}
{% block subtitle %}{% trans 'Pre Registration' %}{% endblock %}
{% block content %}
    <div class="block">
        <div class="col-xs-12 col-md-10 pad-top-lg col-md-offset-1">
            <header class="main-heading text-center row">
                <div class="block-header">
                    <h2 class="heading" style="color: #ededed;"> {% trans 'Pre Register Now!' %} </h2>
                    <hr style="border-top: 3px solid #38892f" width="80px">
                </div>
            </header>
            <div class="block-content">
                <form class="mb-10" data-toggle="validator" method="post">
                    <fieldset>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.phone|as_crispy_field }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.whatsapp|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                {{ form.address|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.cep|as_crispy_field }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.doc_number|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                {{ form.password_confirmation|as_crispy_field }}
                            </div>
                        </div>
                        <div id="msgSubmit" class="form-message hidden"></div>
                        <div class="row text-right">
                            <button class="btn btn-success " type="submit">{% trans 'Go!' %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}

{% endblock %}
