{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
		<!-- start of main banner -->
	<h2 class="content-heading"> {% trans 'Edit your profile' %} </h2>
		<div class="block">
			<div class="block-content">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
					<form class="mb-10" data-toggle="validator" method="post">
						<fieldset>
							{% csrf_token %}
							{{ form|crispy }}
							<div id="msgSubmit" class="form-message hidden"></div>
							<button class="btn btn-success" type="submit">{% trans 'Go!' %}</button>
						</fieldset>
					</form>
			</div>
		</div>

{% endblock %}
