#!/bin/sh

NAME="{{ app_name }}"
DJANGODIR="{{ django_path }}"
SOCK=127.0.0.1:8001
LOGFILE={{ gunicorn_log_file }}
USER={{ app_user }}
GROUP={{ app_group }}
NUM_WORKERS={{ gunicorn_num_workers }}

DJANGO_SETTINGS_MODULE={{ app_name }}.settings.local             # which settings file should Django use
DJANGO_WSGI_MODULE={{ app_name }}.wsgi

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
. {{ project_venv_path }}/bin/activate

export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

# Create the run directory if it doesn't exist.
#RUNDIR=$(dirname $SOCKFILE)
#test -d $RUNDIR || mkdir -p $RUNDIR

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --timeout {{ gunicorn_timeout_seconds|default(30) }} \
  --user=$USER --group=$GROUP \
  --bind=$SOCK \
  --log-level=error \
  --log-file $LOGFILE \
  --no-sendfile
