from .base import *
from .celery_settings import *



DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}


APP_DOMAIN = '{{ app_domain }}'

SITE_URL = '{{ app_url }}'

SECRET_KEY = '{{ django_secret_key }}'


ALLOWED_HOSTS += ['{{ app_domain }}']
INTERNAL_IPS += ['127.0.0.1']
DEBUG = {{ django_debug }}

EMAIL_BACKEND = '{{ email_backend }}'
EMAIL_HOST = '{{ email_host }}'
EMAIL_PORT = '{{ email_port }}'
EMAIL_HOST_USER = '{{ email_user }}'
EMAIL_HOST_PASSWORD = '{{ email_password }}'
EMAIL_USE_SSL = {{ email_use_ssl }}
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER