upstream {{ app_name }}_wsgi_server {
    server 127.0.0.1:8001 fail_timeout=0;
}

server {
    listen      80;
    server_name {{ app_domain }};

{% if ssl_enabled is defined and ssl_enabled %}
    rewrite     ^ https://$server_name$request_uri? permanent;
}

server {
    listen [::]:443 ssl http2;
    listen 443 ssl http2;

    # HSTS
    add_header Strict-Transport-Security "max-age=31536000";

    server_name         {{ app_domain }};

    ssl_certificate     {{ ssl_certificate_public_path }};
    ssl_certificate_key {{ ssl_certificate_key_path }};
{% endif %}

    client_max_body_size 4G;
    sendfile off;

    access_log {{ log_path }}/nginx_access.log;
    error_log {{ log_path }}/nginx_error.log;

    location /assets {
        alias {{ django_path }}/static;
        access_log   off;
    }

    location /media {
        alias {{ django_project_path }}/media;
    }


    location / {
        if (-f {{ django_path }}/static/templates/error/maintenance.html) {
            return 503;
        }
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        {% if ssl_enabled is defined and ssl_enabled %}
        proxy_set_header X-Forwarded-Proto https;
        {% endif %}
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://{{ app_name }}_wsgi_server;
            break;
        }
    }

    # Error pages
#    error_page 404         /error/404.html;
#    error_page 500 502 504 /error/500.html;
#    error_page 503         /error/maintenance.html;

#    location /error/ {
#        root {{ django_path }}/static/templates/;
#    }
}
