<!--
    Template que possibilita ao Diretor Musical atribuir a banda ao evento
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
	<style>
		.form-group {
			margin-bottom: 0px;
		}
	</style>
	<h2 class="content-heading"> {% trans 'Assign musicians to' %}: {{ event.name }}</h2>
	<main id="main">
		<div class="container">
			<div class="block" id="events_container">
				<div class="block-content">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
					<form method="post">
						{% csrf_token %}
						<table>
							{{ formset.management_form|crispy }}
							{{ formset|as_crispy_errors }}
							{% for form in formset.forms %}
								<div class="row formset_row-{{ formset.prefix }}">
									{% for hidden in form.hidden_fields %}
										{{ hidden }}
									{% endfor %}
									<div class="col-sm-4">
										{{ form.instrument_for_humans|as_crispy_field }}
									</div>
									<div class="col-sm-4">
										{{ form.musician|as_crispy_field }}
									</div>
								</div>
								<br>
							{% endfor %}
						</table>
						<div class="col-sm-12 ">
							<p class="text-right">
								<button type="submit" style="background-color: #00a475; border-color: #0e802a"
										class="btn btn-primary"> {% trans 'Assign' %} </button>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
##
##