<!--
    Template que possibilita ao Diretor Musical gerenciar um músico (criar, editar ou excluir).
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
	<h2 class="content-heading"> {% trans 'Musician management' %} </h2>
		<div class="block" id="events_container">
			<div class="block-content">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form data-toggle="validator" method="post">
                    <fieldset>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div id="msgSubmit" class="form-message hidden"></div>
                        <button class="btn btn-success" type="submit">{% trans 'Go!' %}</button>
                    </fieldset>
                </form>
            </div>
			<div class="block-content bg-body-light">
				{% if musician_id %}
					<div class="text-right">
						<form action="{% url 'core:musiciandelete' musician_id %}"
							  onsubmit="return confirm('{% trans 'Are you sure you want to delete this musician? This cannot be undone!' %}');">
							<button type="submit" class="btn btn-danger"> {% trans 'Delete this musician' %} </button>
						</form>
					</div>
				{% endif %}
			</div>
        </div>
{% endblock %}
