<!--
    Template que renderiza a lista de músicos do Diretor Musical.
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<h2 class="content-heading"> {% trans 'My musicians' %} </h2>
	<div class="block" id="events_container">
		<div class="block-content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
			<table class="table table-striped">
				<thead>
				<tr>
					<th>{% trans 'Name' %}</th>
					<th>{% trans 'Instrument' %}</th>
					<th>{% trans 'Whatsapp' %}</th>
					<th>{% trans 'Details' %}</th>
				</tr>
				</thead>
				<tbody>
				{% for musician in musicians %}
					<tr>
						<td>{{ musician.user.get_full_name }}</td>
						<td>{{ musician.get_instrument_display }}</td>
						<td>{{ musician.whatsapp }}</td>
						<td><a class="btn btn-info"
							   href="{% url 'core:musicianmanagement' %}?musician_id={{ musician.id }}"><i
								class="fa fa-eye"></i></a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="block-content bg-body-light text-center">
			<form action="{% url 'core:musicianmanagement' %}">
				<button type="submit"
						class="btn btn-success">{% trans 'New Musician' %}</button>
			</form>
		</div>
	</div>
{% endblock %}