<!DOCTYPE html>

<html lang="en-us" class="no-js">

	<head>
		<meta charset="utf-8">
		<title>{{ settings.FRONT_END__SITE_NAME }} - 404 Not found</title>
		<meta name="description" content="The description should optimally be between 150-160 characters.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="ThemeHelite">

{#        <!-- ================= Favicons ================== -->#}
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'img/cropped-cropped-favicon-32x32.png' %}"/>
        <link rel="shortcut icon" type="apple-touch-icon-precomposed" href="{% static 'img/cropped-cropped-favicon-180x180.png' %}"/>
{#		<!-- ============== Resources style ============== -->#}
		<link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}" />
	</head>

	<body>

        <canvas id="dotty"></canvas>

{#        <!-- Your logo on the top left -->#}
        <a href="#" class="logo-link" title="back home">

            <img src="{% static 'images/logo.png' %}" class="logo" alt="Onimusic's logo" />

        </a>

        <div class="content">

            <div class="content-box">

                <div class="big-content">

{#                    <!-- Main squares for the content logo in the background -->#}
                    <div class="list-square">
                        <span class="square"></span>
                        <span class="square"></span>
                        <span class="square"></span>
                    </div>

{#                    <!-- Main lines for the content logo in the background -->#}
                    <div class="list-line">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>

{#                    <!-- The animated searching tool -->#}
                    <i class="fa fa-search" aria-hidden="true"></i>

{#                    <!-- div clearing the float -->#}
                    <div class="clear"></div>

                </div>

{#                <!-- Your text -->#}
                <h1>Oops! Error 404 not found.</h1>
{# todo change text #}
                <p>The page you were looking for doesn't exist.<br>
                    We think the page may have moved.</p>

            </div>

        </div>

        <footer class="light">
        </footer>

{#        <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->#}
{#        <!-- ********** jQuery Resources ********** -->#}
{#        <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->#}

{#        <!-- * Libraries jQuery and Bootstrap - Be careful to not remove them * -->#}
        <script src="{% static  'js/error/jquery.min.js' %}"></script>
        <script src="{% static  'js/error/bootstrap.min.js' %}"></script>

{#        <!-- Mozaic plugin -->#}
        <script src="{% static  'js/error/mozaic.js' %}"></script>

    </body>

</html>