{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the apple mobile web app capable -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- set the HandheldFriendly -->
    <meta name="HandheldFriendly" content="True">
    <!-- set the apple mobile web app status bar style -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- set the description -->
    {#    <meta name="description" content="Be - Startup Business HTML Template">#}
    {#    <meta name="keywords"#}
    {#          content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">#}
    {#    <meta name="author" content="Be - Startup Business HTML Template">#}
    <!-- Page Title -->
    <title>Gig2You - {% block subtitle %} {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_verde_pequena.png' %}">
    <!-- include the site stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CWork+Sans:300,400,500,600" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <!-- include the site stylesheet -->
    {#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{% static 'css/fonts-icons.css' %}">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{% static 'css/plugin-resets.css' %}">
    <!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}?0.0.0.1">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <!-- include the datasheet -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block extra_css %}
        <style>
        #main{
            min-height: calc(100vh - 128px);
        }
        </style>
    {% endblock %}
</head>
<body>
<!-- start of main page wrapper -->
<div id="wrapper">
    <!-- start of preloader -->
    <div class="loader-container" id="loader">
        <div class="spinner spinner-round"></div>
    </div><!-- end of preloader -->
    <div class="w1">
        <!-- start of page header -->
        <header id="header" class="nospace">
            <!-- header holder -->
            <div class="header-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Page logo -->
                            <div class="logo pull-left">
                                <a href="{% url 'homepage' %}" class="img">
                                    <img width="70px" height="78px" src="{% static 'images/logo_verde_pequena.png' %}" alt="image"
                                         class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% include 'core/base/messages.html' %}
        {% block content %}

        {% endblock %}
    {% block footer %}
    {% endblock %}
    </div>
</div><!-- end of main page wrapper -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

{% block extra_js %}

{% endblock %}
</body>
</html>