{% extends 'auth/base.html' %}
{% load i18n %}
{% load static %}
{% block subtitle %} {% trans "Log in" %} {% endblock %}

{% block content %}
    <main id="main">
        <!-- start of main banner -->
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <br><br><br>
                <header class="main-heading text-center row">
                    <div class="col-xs-12">
                        <h2 class="heading"> {% trans 'Log in' %} </h2>
                        <hr style="border-top: 3px solid #38892f; margin-top: -10px" width="80px">
                    </div>
                </header>
                {% include 'auth/non_field_errors.html' %}
                <div class="col-sm-4 col-md-4" style="color: white">
                    coluna
                </div>
                <div class="col-sm-4 col-md-4" id="conteudo-login">
                    <form action="{{ app_path }}" name="form" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-6" style="max-width: 300px">
                            {{ form.username.errors }}
                            <label for="id_username">{% trans "Email address" %}</label>
                            <input type="text" class="form-control" name="username" autofocus="" required
                                   id="id_username">
                        </div>

                        <div class="form-group mb-3" style="max-width: 300px">
                            {{ form.password.errors }}
                            <label for="id_password">{% trans "Password" %}</label>
                            <input type="password" class="form-control" name="password" id="id_password" required>
                        </div>

                        <div class="form-group mb-0 text-center" style="max-width: 300px">
                            <button class="btn btn-primary btn-block" style="background-color: #00a475; border-color: #0e802a" type="submit"> {% trans "Log in" %} </button>
                        </div>

                    </form>
                    <p><a href="{% url "password_reset" %}" class="text-muted ml-1">
                        <i class="fa fa-lock mr-1"></i> {% trans "Forgot password?" %}</a>
                    </p>
                </div>
                <div class="col-sm-4 col-md-4" style="color: white">
                    coluna
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block backbutton %}

{% endblock %}
