{% extends 'core/base/base.html' %}
{% load i18n %}
{% load static %}
{% block subtitle %} {% trans "Logout" %} {% endblock %}

{% block content %}
    <main id="main">
        <!-- start of main banner -->
{#        <div class="container">#}
{#            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">#}
{#                <header class="main-heading text-center row">#}
{#                    <div class="col-xs-12">#}
{#                        <h2 class="heading"> {% trans 'Gig2You - Logout' %} </h2>#}
{#                    </div>#}
{#                </header>#}
{#            </div>#}
{#        </div>#}
        <section class="main-banner">
            <!-- slide -->
            <div class="slide bg-img-full" style="background-image: url({% static 'images/logout.jpg' %});">
                <span class="bg-overlay"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption left">
                                <div class="holder">
                                    <h1 class="heading small3 text-uppercase">{% trans 'See you in awhile, crocodile! ' %}</h1>
                                    <a href="{% url 'homepage' %}" class="btn btn-green text-uppercase">{% trans 'Back to homepage' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- end of main banner -->
    </main>
{% endblock %}
{% block backbutton %}

{% endblock %}