{% load i18n %}
{% if form.errors and not form.non_field_errors %}
    <div class="text-center pos-rlt p-y-md">
        <p class="errornote">
            {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}{% else %}
                {% trans "Please correct the errors below." %}{% endif %}
        </p>
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="text-center pos-rlt p-y-md">
            <p class="errornote">
                {{ error }}
            </p>
        </div>
    {% endfor %}
{% endif %}