{% extends 'auth/base.html' %}
{% load i18n %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <main id="main">
        <!-- start of main banner -->
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <br><br><br>
                <header class="main-heading text-center row">
                    <div class="col-xs-12">
                        <h2 class="heading"> {% trans 'Reset my password' %} </h2>
                        <hr style="border-top: 3px solid #38892f; margin-top: -10px" width="80px">
                    </div>
                </header>
                {% include "auth/non_field_errors.html" %}
                <div class="col-sm-4 col-md-3" style="color: white">
                    coluna
                </div>
                <div class="col-sm-4 col-md-6" id="conteudo-reset">
                    <div class="col-sm-12 col-md-12" id="conteudo-reset">
                        <div class="text-center" style="font-size: large">

                            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                            <a href="{% url "login" %}" style="color: #00a475" class="text-primary _600">{% trans "Login" %}</a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3" style="color: white">
                    coluna
                </div>
            </div>
        </div>
    </main>
{% endblock %}