{% extends 'auth/base.html' %}
{% load i18n %}
{% load static %}
{% block subtitle %}{% trans "Password reset" %}{% endblock %}
{% block content %}
    <main id="main">
        <!-- start of main banner -->
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <br><br><br>
                <header class="main-heading text-center row">
                    <div class="col-xs-12">
                        <h2 class="heading"> {% trans 'Reset my password' %} </h2>
                        <hr style="border-top: 3px solid #38892f; margin-top: -10px" width="80px">
                        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                        <br>
                    </div>
                </header>
                {% include "auth/non_field_errors.html" %}
                <div class="col-sm-4 col-md-4" style="color: white">
                    coluna
                </div>
                <div class="col-sm-4 col-md-4" id="conteudo-reset">
                    <form action="{{ app_path }}" name="form" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-6" style="max-width: 300px">
                            {{ form.email.errors }}
                            <label for="id_email">{% trans "Email" %}</label>
                            <input type="text" class="form-control" name="email" autofocus="" required
                                   id="id_email">
                        </div>

                        <div class="form-group mb-0 text-center" style="max-width: 300px">
                            <button class="btn btn-primary btn-block" style="background-color: #00a475; border-color: #0e802a" type="submit"> {% trans 'Reset my password' %} </button>
                        </div>
                    </form>
                    <p>
                        <a href="{% url "login" %}" class="text-muted ml-1"><i class="fa fa-lock mr-1"></i>{% trans "Login" %}</a>
                    </p>
                </div>
                <div class="col-sm-4 col-md-4" style="color: white">
                    coluna
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block backbutton %}

{% endblock %}