{% extends 'auth/base.html' %}
{% load i18n %}

{% block subtitle %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <main id="main">
        <!-- start of main banner -->
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <br><br><br>
                <header class="main-heading text-center row">
                    <div class="col-xs-12">
                        <h2 class="heading"> {% trans 'Reset my password' %} </h2>
                        <hr style="border-top: 3px solid #38892f; margin-top: -10px" width="80px">
                    </div>
                </header>
                {% include "auth/non_field_errors.html" %}
                <div class="col-sm-4 col-md-4" style="color: white">
                    coluna
                </div>
                <div class="col-sm-4 col-md-4" id="conteudo-reset">
                    <div class="text-center" style="font-size: large">
                        <p >{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

                        <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" style="color: white">
                    coluna
                </div>
            </div>
        </div>
    </main>
{% endblock %}