{% extends 'auth/base.html' %}
{% load i18n %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <main id="main">
        <!-- start of main banner -->
        <div class="container">
            <div class="col-xs-12 col-md-10 pad-top-lg pad-bottom-lg col-md-offset-1">
                <br><br><br>
                <header class="main-heading text-center row">
                    <div class="col-xs-12">
                        <h2 class="heading"> {% trans 'Reset my password' %} </h2>
                        <hr style="border-top: 3px solid #38892f; margin-top: -10px" width="80px">
                        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                        <br>
                    </div>
                </header>
                {% include "auth/non_field_errors.html" %}
                <div class="col-sm-4 col-md-3" style="color: white">
                    coluna
                </div>
                <div class="col-sm-4 col-md-6" id="conteudo-reset">
                    <form action="{{ app_path }}" name="form" method="post">
                        {% csrf_token %}

                        <div class="form-group mb-3">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">{% trans 'New password' %}:</label>
                            <input type="password" class="form-control" name="new_password1" id="id_new_password1" required>

                        </div>
                        <div class="form-group mb-3">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">{% trans 'Confirm password' %}:</label>
                            <input type="password" class="form-control" name="new_password2" id="id_new_password2" required>
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button style="background-color: #00a475; border-color: #0e802a" class="btn btn-primary btn-block"
                                    type="submit"> {% trans 'Change my password' %} </button>
                        </div>

                    </form>
                </div>
                <div class="col-sm-4 col-md-3" style="color: white">
                    coluna
                </div>
            </div>
        </div>
    </main>
{% endblock %}<!-- end card-body -->