<!--
    Template da tela de conclusão do evento. Visível apenas ao contratante
-->
{% extends 'core/base/base_internal.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_css %}
	{{ form.media }}
	<link rel="stylesheet" href="{% static 'js/plugins/select2/css/select2.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/plugins/flatpickr/flatpickr.min.css' %}">
{% endblock %}
{% block subtitle %}{% trans 'Conclude Event' %}{% endblock %}
{% block content %}
	<h2 class="content-heading"> {% trans 'Conclude your event' %}</h2>
	<div class="block" id="events_container">
        <div class="block-header block-header-default">
            <h3 class="block-title">{{ event.name }}</h3>
        </div>
		<div class="block-content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'core:eventconcluded' event.id %}" method="post" id="conclude-form">
                {{ formset.management_form }}
				{{ formset|as_crispy_errors }}
                <fieldset>
					<div class="row">

						<div class="col-md-2 text-center">
							<h4>{% trans 'Instrument' %}</h4>
						</div>
                        <div class="col-md-1"></div>
						<div class="col-md-2 text-center">
							<h4>{% trans 'Musician' %}</h4>
						</div>
                        <div class="col-md-1"></div>
						<div class="col-md-2 text-center">
							<h4>{% trans 'Attended' %}</h4>
						</div>
                        <div class="col-md-1"></div>
						<div class="col-md-2 text-center">
							<h4>{% trans 'Rate' %}</h4>
						</div>
					</div>
                    {% csrf_token %}
                        {% for form_item in formset %}
                            {{ form_item|as_crispy_errors }}
                            {% for hidden in form_item.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

							{{ form_item.parent_musician_event }}
                            <div class="row">

								<div class="col-md-2 text-center">
									{{ form_item.instrument_for_humans|as_crispy_field }}
								</div><div class="col-md-1"></div>
								<div class="col-md-2 text-center">
                                    {{ form_item.musician_for_humans|as_crispy_field }}
                                </div><div class="col-md-1"></div>
                                <div class="col-md-2 text-center">
                                    {{ form_item.attended | as_crispy_field }}
                                </div><div class="col-md-1"></div>
                                <div class="col-md-2 text-center">
                                    {{ form_item.musician_rate | as_crispy_field }}
                                </div>
                            </div>
{#                            {{ form_item | crispy }}#}
{#                            <hr style="border: 3px solid black">#}
                        {% endfor %}
                    <div class="col-md-12 mt-10">
                        {{ form | crispy }}
                    </div>
                    <button id="submit-btn" type="submit" class="btn btn-primary float-right">{% trans 'Conclude Event' %}</button>
                </fieldset>
            </form>
		</div>
	</div>
{% endblock %}

{#{% block extra_js %}#}
{#	<script src="{% static 'js/plugins/select2/js/select2.full.min.js' %}"></script>#}
{#	<script src="{% static 'js/plugins/flatpickr/flatpickr.min.js' %}"></script>#}
{#	<script>#}
{#		$(document).ready(function () {#}
{#		    $('#submit-btn').click(function (e) {#}
{#                e.preventDefault()#}
{#            })#}
{#		});#}
{#	</script>#}
{#{% endblock %}#}
