<!--
    Template da pagina de exibição do Evento. Mostra os detalhes do evento que cabem a cada tipo de usuário conhecer,
    Além de botões para confimação/recusa de participação para todos, e de cancelamento e conclusão para o produtor.
    Este arquivo está separado em arquivos de blocos de código específicos, para facilitar a manutenção e legibilidade
     do código.
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% block content %}
	<!-- start of main banner -->
	<h2 class="content-heading"> {{ event.name }} </h2>
	<div class="event">
		<!-- ====================================================================== -->
		<!-- COMMON AREA FOR EVERYONE -->
		<!-- ====================================================================== -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <!-- EVENT INFORMATION SECTION -->
                    {% include 'core/event/detail_blocks/block_general_information.html' %}
                </div>
                <div class="col-sm-12 col-md-6">
                    <!-- PRODUCER DETAILS SECTION -->
                    {% include 'core/event/detail_blocks/block_producer_details.html' %}

                    <!-- EVENT PAYMENT SECTION -->
                    {% include 'core/event/detail_blocks/block_payment_status.html' %}

                    <!-- RATINGS SECTION -->
                    {% include 'core/event/detail_blocks/block_ratings.html' %}
                </div>
            </div>
            <div class="row">
                <!-- ARTIST DETAILS SECTION -->
                {% include 'core/event/detail_blocks/block_artist_details.html' %}

                <!-- MUSIC DIRECTOR DETAILS SECTION -->
                {% include 'core/event/detail_blocks/block_music_director_details.html' %}
            </div>

		<!-- ======================================================================
         AREA EXCLUSIVE FOR MUSIC DIRECTORS
         ====================================================================== -->

		    {% include 'core/event/detail_blocks/block_dm_exclusive.html' %}

		<!-- ====================================================================== -->
		<!-- AREA EXCLUSIVE FOR MUSICIANS -->
		<!-- ====================================================================== -->

            {% include 'core/event/detail_blocks/block_musician_exclusive.html' %}

		<!-- ====================================================================== -->
		<!-- COMMENT AREA -->
		<!-- ====================================================================== -->

		    {% include 'core/event/detail_blocks/block_comment_section.html' %}

		<!-- ====================================================================== -->
		<!-- AREA EXCLUSIVE FOR PRODUCERS -->
		<!-- ====================================================================== -->

            {% include 'core/event/detail_blocks/block_producer_exclusive.html' %}

	</div>

{% endblock %}