<!--
    Template que renderiza o formulário de criação de novo evento. Visível ao Contratante.
-->
{% extends 'core/base/base_internal.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_css %}
	{{ form.media }}
	<link rel="stylesheet" href="{% static 'js/plugins/select2/css/select2.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/plugins/flatpickr/flatpickr.min.css' %}">
{% endblock %}
{% block content %}
	<h2 class="content-heading"> {% trans 'Create new event' %} </h2>
	<div class="block" id="events_container">
		<div class="block-content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
			<section class="">
				<form data-toggle="validator" method="post">
					{{ form.non_field_errors }}
					<fieldset>
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.name.error_messages }}
								{{ form.name|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.music_director_id.error_messages }}
								{{ form.music_director_id|as_crispy_field }}
							</div>
						</div>
                        <div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								{{ form.address.error_messages }}
								{{ form.address|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3">
								{{ form.cep.error_messages }}
								{{ form.cep|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3">
								{{ form.distance.error_messages }}
								{{ form.distance|as_crispy_field }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.date.error_messages }}
								{{ form.date|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.event_time.error_messages }}
								{{ form.event_time|as_crispy_field }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.presentation_date.error_messages }}
								{{ form.presentation_date|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.presentation_time.error_messages }}
								{{ form.presentation_time|as_crispy_field }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.event_type.error_messages }}
								{{ form.event_type|as_crispy_field }}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.instruments.error_messages }}
								{{ form.instruments|as_crispy_field }}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6">
								{{ form.artist.error_messages }}
								{{ form.artist|as_crispy_field }}
							</div>
							<div class="col-md-6"></div>
						</div>
						<div class="row">
							<div class="col-md-12">
								{{ form.notes.error_messages }}
								{{ form.notes|as_crispy_field }}
							</div>
						</div>
						<div id="msgSubmit" class="form-message hidden"></div>
						<button class="btn btn-success" type="submit">{% trans 'Go!' %}</button>
					</fieldset>
				</form>
			</section>
		</div>
	</div>
{% endblock %}



{% block extra_js %}
	<script src="{% static 'js/plugins/select2/js/select2.full.min.js' %}"></script>
	<script src="{% static 'js/plugins/flatpickr/flatpickr.min.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.multiselect_custom').select2({multiple: true});
			$('.timepickerinput').flatpickr({noCalendar: true, dateFormat: 'H:i', enableTime: true});
			$('.datepickerinput').flatpickr({enableTime: false});
		});
	</script>
{% endblock %}
