<!--
    Template que renderiza o histórico de eventos do usuário (bem como eventos cancelados). Visível a todos.
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}

{% block extra_css %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block content %}
	<h2 class="content-heading"> {% trans 'Past Events' %} </h2>
	<div class="block" id="events_container">
		<div class="block-content">
			<table id="pastEvents" class="dataTable table table-striped nowrap" style="width:100%">
				<thead>
				<tr class="text-center">
					<th>{% trans 'Name' %}</th>
					<th>{% trans 'Region' %}</th>
					<th>{% trans 'Date' %}</th>
					<th>{% trans 'Feat Artist' %}</th>
					<th>{% trans 'Status' %}</th>
					<th>{% trans 'Details' %}</th>
				</tr>
				</thead>
				<tbody>
				{% for event in events %}
					{% if event.is_past == True or not event.is_active %}
						<tr class="text-center">
							<td>{{ event.name }}</td>
							<td>{{ event.region }}</td>
							<td data-sort="{{ event.date|date:"Ymd" }}">{{ event.date }}</td>
							<td>{{ event.artist }}</td>
							<td>{{ event.get_happened_status }}</td>
							<td><a href="{% url 'core:event' event.id %}" class="btn btn-info"><i
									class="fa fa-eye table-button"></i> </a></td>
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#pastEvents').DataTable({
				"order": [[ 2, 'desc' ]],
				{#searching: false,#}
				{#paging: false,#}
				info: false,
				responsive: true,
				"scrollX": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
			});
		});

	</script>

{% endblock %}