#!/bin/sh

DJANGODIR={{ django_path }}

# Activate the virtual environment.
cd $DJANGODIR
. {{ project_venv_path }}/bin/activate
. {{ project_venv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A {{ app_name }} worker -E \
     -l info \
     --concurrency={{ celery_num_workers }} \
     --pidfile={{ project_path }}/run/celery.pid
