#!/bin/sh

DJANGODIR={{ django_path }}

# Activate the virtual environment.
cd $DJANGODIR
. {{ project_venv_path }}/bin/activate
. {{ project_venv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A {{ app_name }} beat \
     -l info \
     --scheduler django_celery_beat.schedulers:DatabaseScheduler \
     --pidfile={{ project_path }}/run/celery_beat.pid
