[program:{{ celery_beat_supervisor_name }}]
command={{ celery_scripts_dir }}/celery_beat_start

autostart=true
autorestart=true

user={{ celery_user }}

stdout_logfile={{ celery_beat_log_file }}
redirect_stderr = true
