[program:{{ celery_supervisor_name }}]
command={{ celery_scripts_dir }}/celery_start

autostart=true
autorestart=true

user={{ celery_user }}

stdout_logfile={{ celery_log_file }}
redirect_stderr = true
