{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the apple mobile web app capable -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the apple mobile web app status bar style -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- set the description -->
	{#    <meta name="description" content="Be - Startup Business HTML Template">#}
	{#    <meta name="keywords"#}
	{#          content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">#}
	{#    <meta name="author" content="Be - Startup Business HTML Template">#}
	<!-- Page Title -->
	<title>Gig2You - {% block subtitle %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
	<!-- include the site stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CWork+Sans:300,400,500,600" rel="stylesheet">
	<!-- include the site stylesheet -->
	{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/fonts-icons.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/plugin-resets.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}?0.0.0.1">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<!-- include the datasheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style>


        .home_video_button_container {
            width: 960px;
            height: 540px;
            max-width: 100%;
            background: url(" {% static 'images/home_video_backgroung.jpeg' %}");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

        }

        @media (max-width: 767px) {
            .home_video_button_container {
                width: 480px;
                height: 270px;
            }
        }


        .home_video_button_container .play {
            position: absolute;
            top: 50%;
        }

    </style>
    {% block extra_css %}
    {% endblock %}
    {% block extra_base_css %}
    {% endblock %}
</head>
<body>
{% if user.is_impersonate %}
	<a href="/impersonate/stop" class="btn btn-danger" style="padding: 10px; margin: 10px; z-index: 9999; bottom: 0; position: absolute;">PARAR IMPERSONATE</a>

{% endif %}
<!-- start of main page wrapper -->
<div id="wrapper">
	<!-- start of preloader -->
	<div class="loader-container" id="loader">
		<div class="spinner spinner-round"></div>
	</div><!-- end of preloader -->
	<div class="w1">
		<!-- start of page header -->
		<header id="header" class="{% block custom_header_class %}nospace{% endblock %}">
			<!-- header holder -->
			<div class="header-holder">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- Page logo -->
							<div class="logo pull-left">
								<a href="{% url 'homepage' %}" class="img"><span class="custom-header-logo"></span></a></div>
							<div class="holder pull-right">
								<a href="#" class="menu-opener opener pull-right visible-xs">
									<i class="fa fa-bars"></i>
								</a>
								<!-- start of page navigation -->
								<nav id="nav" class="text-uppercase">
									<ul class="list-inline">
										{% block navbar %}
											{% if not user.is_authenticated %}
												<li>
													<a href="{% url 'homepage' %}">{% trans 'Home' %}</a>
												</li>
												<li>
													<a href="{% url 'about' %}">{% trans 'About Us' %}</a>
												</li>
												<li>
													<a href="{% url 'contact' %}">{% trans 'Contact us' %}</a>
												</li>
												<li>
													<a href="{% url 'core:homepage' %}">{% trans 'Sign in' %}</a>
												</li>
{#                                                <li>#}
{#													<a href="{% url 'core:preregister' %}">{% trans 'Pre Register Now!' %}</a>#}
{#												</li>#}
											{% else %}

											{% endif %}
											<li>

											</li>
										{% endblock %}
									</ul>
								</nav>
								<!-- end of page navigation -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main id="main">
			{% block main_banner %}
			{% endblock %}
			<div class="container">
				{% include 'core/base/messages.html' %}
			</div>
			{% block content %}

			{% endblock %}
		</main>
		{% block backbutton %}
			<div class="container">
				<div class="col-sm-12 text-left mar-bottom-sm">
					<a class="btn btn-warning" onclick="history.back()"><i
							class="fa fa-chevron-left"></i> {% trans 'Back' %}</a>
				</div>
			</div>
		{% endblock %}
		{% block footer %}
			<footer id="footer">
				<div class="bg-dark2">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 mar-bottom-xs mar-top-xs text-center">
								<a class="btn-green"
								   href="mailto:guigyoumusic@gmail.com?Subject=About%20Gig2You">{% trans 'Contact Us' %}</a>
							</div>
						</div>
					</div>
				</div>
				<!-- start of f-bottom -->
				<div class="bg-dark3 f-bottom">
					<div class="container">
						<div class="row">
							<div class="col-md-12 hidden-sm hidden-xs">
								<span class="pull-left">&copy Gig2You {% now "Y" %} {% trans ' All Rights Reserved.' %}</span>
                                <span class="pull-right" style="font-family: 'Open Sans', 'sans-serif'; font-size: large"><a href="{% url 'core:faq' %}"><i class="fa fa-question-circle"></i> FAQ</a></span>
							</div>
                            <div class="col-md-12 hidden-md hidden-lg	">
                                <span style="font-family: 'Open Sans', 'sans-serif'; font-size: large"><a href="{% url 'core:faq' %}"><i class="fa fa-question-circle"></i> FAQ</a></span>
							</div>
                            <br>
                            <div class="col-md-12 hidden-md hidden-lg	">
								<span>&copy Gig2You {% now "Y" %} {% trans ' All Rights Reserved.' %}</span>
                            </div>

						</div>
					</div>
				</div><!-- end of f-bottom -->
			</footer><!-- end of page footer -->
		{% endblock %}
	</div>
	<!-- Back Top of the page -->
	<span id="back-top" class="pe-7s-angle-up main-bg-color"></span>
</div><!-- end of main page wrapper -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

{% block extra_js %}
	<script>
		$(document).ready(function () {
			$('#upcomingEvents').DataTable({
				searching: false,
				paging: false,
				info: false,
				responsive: true,
				"scrollX": true
			});
		});
	</script>
{% endblock %}
</body>
</html>