{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<!doctype html>
<html lang="en" class="no-focus">

<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the apple mobile web app capable -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the apple mobile web app status bar style -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- set the description -->
	{#    <meta name="description" content="Be - Startup Business HTML Template">#}
	{#    <meta name="keywords"#}
	{#          content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">#}
	{#    <meta name="author" content="Be - Startup Business HTML Template">#}
	<!-- Page Title -->
	<title>Gig2You -
		{% block subtitle %}
			{% if user_type == 'musician' %}
				{% trans 'Musician' %}
			{% elif user_type == 'artist' %}
				{% trans 'Artist' %}
			{% elif user_type == 'music_director' %}
				{% trans 'Music Director' %}
			{% elif user_type == 'producer' %}
				{% trans 'Music Producer' %}
			{% endif %}
		{% endblock %}</title>

{#	<!-- Icons -->#}
{#	<!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->#}
	<link rel="shortcut icon" type="image/png" href="{% static 'images/logohorizontal_cinzaescuro.png' %}">
{#	<!-- END Icons -->#}

{#	<!-- Stylesheets -->#}
{#	<!-- Fonts and Codebase framework -->#}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" id="css-main" href="{% static 'css/admin.min.css' %}?v=1.1.2">

    <style>
		.custom-header-logo {
			background-image: url({% static 'images/logohorizontal_cinzaescuro_peq.png' %});
		}
	</style>

	{% block extra_css %}

	{% endblock %}

{#	<!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->#}
{#	<!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->#}

{#	<!-- END Stylesheets -->#}
</head>
<body>
{% if user.is_impersonate %}
	<a href="/impersonate/stop" class="btn btn-danger" style="padding: 10px; margin: 10px; z-index: 9999; bottom: 0; position: absolute;k">PARAR IMPERSONATE</a>

{% endif %}

<div class="loader-container" id="loader">
	<div class="spinner spinner-round"></div>
</div><!-- end of preloader -->

{#<!-- Page Container -->#}
{#<!--#}
{#    Available classes for #page-container:#}
{##}
{#GENERIC#}
{##}
{#    'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Codebase() -> uiHandleTheme())#}
{##}
{#SIDEBAR & SIDE OVERLAY#}
{##}
{#    'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)#}
{#    'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)#}
{#    'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)#}
{#    'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)#}
{#    'sidebar-inverse'                           Dark themed sidebar#}
{##}
{#    'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)#}
{#    'side-overlay-o'                            Visible Side Overlay by default#}
{##}
{#    'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens#}
{##}
{#    'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)#}
{##}
{#HEADER#}
{##}
{#    ''                                          Static Header if no class is added#}
{#    'page-header-fixed'                         Fixed Header#}
{##}
{#HEADER STYLE#}
{##}
{#    ''                                          Classic Header style if no class is added#}
{#    'page-header-modern'                        Modern Header style#}
{#    'page-header-inverse'                       Dark themed Header (works only with classic Header style)#}
{#    'page-header-glass'                         Light themed Header with transparency by default#}
{#                                                (absolute position, perfect for light images underneath - solid light background on scroll if the Header is also set as fixed)#}
{#    'page-header-glass page-header-inverse'     Dark themed Header with transparency by default#}
{#                                                (absolute position, perfect for dark images underneath - solid dark background on scroll if the Header is also set as fixed)#}
{##}
{#MAIN CONTENT LAYOUT#}
{##}
{#    ''                                          Full width Main Content if no class is added#}
{#    'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)#}
{#    'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)#}
{#-->#}
<div id="page-container" class="sidebar-o side-scroll page-header-modern main-content-boxed enable-page-overlay">

	<!-- Sidebar -->
	<!--
        Helper classes

        Adding .sidebar-mini-hide to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
        Adding .sidebar-mini-show to an element will make it visible (opacity: 1) when the sidebar is in mini mode
            If you would like to disable the transition, just add the .sidebar-mini-notrans along with one of the previous 2 classes

        Adding .sidebar-mini-hidden to an element will hide it when the sidebar is in mini mode
        Adding .sidebar-mini-visible to an element will show it only when the sidebar is in mini mode
            - use .sidebar-mini-visible-b if you would like to be a block when visible (display: block)
    -->
	<nav id="sidebar">
		<!-- Sidebar Content -->
		<div class="sidebar-content">
			<!-- Side Header -->
			<div class="content-header content-header-fullrow px-15">
				<!-- Mini Mode -->
				<div class="content-header-section sidebar-mini-visible-b">
					<!-- Logo -->
					<span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
                                <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
                            </span>
					<!-- END Logo -->
				</div>
				<!-- END Mini Mode -->

				<!-- Normal Mode -->
				<div class="content-header-section text-center align-parent sidebar-mini-hidden">
					<!-- Close Sidebar, Visible only on mobile screens -->
					<!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
					<button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
						<i class="fa fa-times text-danger"></i>
					</button>
					<!-- END Close Sidebar -->

					<!-- Logo -->
					<div class="content-header-item">
						<div class="header-logo pull-left">
							<a href="{% url 'homepage' %}" class="img"><span class="custom-header-logo"></span></a></div>
{#						<a class="link-effect font-w700" href="">#}
{#							<span class="font-size-xl text-dual-primary-dark">code</span><span class="font-size-xl text-primary">base</span>#}
{#						</a>#}
					</div>
					<!-- END Logo -->
				</div>
				<!-- END Normal Mode -->
			</div>
			<!-- END Side Header -->

			<!-- Side User -->
			<div class="content-side content-side-full content-side-user px-10 align-parent">
				<!-- Visible only in mini mode -->
{#				<div class="sidebar-mini-visible-b align-v animated fadeIn">#}
{#					<img class="img-avatar img-avatar32" src="assets/media/avatars/avatar0.jpg" alt="">#}
{#				</div>#}
				<!-- END Visible only in mini mode -->

				<!-- Visible only in normal mode -->
				<div class="sidebar-mini-hidden-b text-center">
{#todo implementar gravatar#}
					<a class="img-link" href="{% url 'homepage' %}">
						<img class="img-avatar" src="{% user_avatar user size=75 %}" alt="">
					</a>
					<ul class="list-inline mt-10">
						<li class="list-inline-item">
							<span class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase">{% user_name user %}</span>
						</li>
{#						<li class="list-inline-item">#}
{#							<a class="link-effect text-dual-primary-dark" href="{% url 'core:myprofile' %}">#}
{#								<i class="fa fa-cog"></i>#}
{#							</a>#}
{#						</li>#}
						<li class="list-inline-item">
							<a class="link-effect text-dual-primary-dark" href="{% url 'logout' %}">
								<i class="fa fa-sign-out"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- END Visible only in normal mode -->
			</div>
			<!-- END Side User -->

			<!-- Side Navigation -->
			<div class="content-side content-side-full">
				<ul class="nav-main">

					<li class="nav-main-heading">
						{% trans 'Events' %}
					</li>
					<li>
						<a href="{% url 'core:homepage' %}#events_container">
							<i class="fa fa-calendar"></i>
							{% trans 'Events' %}
						</a>
					</li>
					<li>
						<a href="{% url 'core:pastevents' %}">
							<i class="fa fa-calendar-check-o"></i>
							{% trans 'Past Events' %}
						</a>
					</li>

					{% if user_type == 'producer' or user_type == 'artist' %}
						<li>
							<a href="{% url 'core:newevent' %}">
								<i class="fa fa-calendar-plus-o"></i>
								{% trans 'New Event' %}
							</a>
						</li>
					{% endif %}

					<li class="nav-main-heading">
						{% trans 'My Data' %}
					</li>
					{% if user_type == 'artist' %}
						<li>
							<a href="{% url 'core:my_songs' %}">
								<i class="fa fa-music"></i>
								{% trans 'My songs' %}
							</a>
						</li>
					{% endif %}
					{% if user_type == 'music_director' %}
						<li>
							<a href="{% url 'core:musicianslist' %}">
								<i class="fa fa-headphones"></i>
								{% trans 'My Musicians' %}
							</a>
						</li>
					{% endif %}
					<li>
						<a href="{% url 'core:myprofile' %}">
							<i class="fa fa-user"></i>
							{% trans 'Profile' %}
						</a>
					</li>

				</ul>
			</div>
			<!-- END Side Navigation -->
		</div>
		<!-- Sidebar Content -->
	</nav>
	<!-- END Sidebar -->

	<!-- Header -->
	<header id="page-header">
		<!-- Header Content -->
		<div class="content-header">
			<!-- Left Section -->
			<div class="content-header-section">
				<!-- Toggle Sidebar -->
				<!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
				<button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout" data-action="sidebar_toggle">
					<i class="fa fa-navicon"></i>
				</button>
				<!-- END Toggle Sidebar -->

			</div>
			<!-- END Left Section -->

			<!-- Right Section -->
			<div class="content-header-section">
				<!-- User Dropdown -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{% user_name user %}<i class="fa fa-angle-down ml-5"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right min-width-150" aria-labelledby="page-header-user-dropdown">
						<a class="dropdown-item" href="{% url 'core:myprofile' %}">
							<i class="fa fa-user mr-5"></i> {% trans 'Profile' %}
						</a>
						<a class="dropdown-item" href="{% url 'logout' %}">
							<i class="fa fa-sign-out mr-5"></i> {% trans 'Logout' %}
						</a>
                        <a id="helpbutton" class="dropdown-item" href="javascript:void(0)">
							<i class="fa fa-question mr-5"></i> {% trans 'Need any help?' %}
						</a>
					</div>
				</div>
				<!-- END User Dropdown -->
			</div>
			<!-- END Right Section -->
		</div>
		<!-- END Header Content -->


		<!-- Header Loader -->
		<div id="page-header-loader" class="overlay-header bg-primary">
			<div class="content-header content-header-fullrow text-center">
				<div class="content-header-item">
					<i class="fa fa-sun-o fa-spin text-white"></i>
				</div>
			</div>
		</div>
		<!-- END Header Loader -->
	</header>
	<!-- END Header -->

	<!-- Main Container -->
	<main id="main-container">

		<!-- Page Content -->
		<div class="content">
            <div class="modal fade" id="modal-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-fadein" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="block block-themed block-transparent mb-0">
                            <div class="block-header bg-primary-dark">
                                <h3 class="block-title">{% trans 'Need Help?' %}</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                        <i class="si si-close"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content">
                                <p>{% trans 'Send us a Message!' %}</p>
                                <p>
                                    <a class="link-effect text-success "><strong>guigyoumusic@gmail.com</strong></a>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">{% trans 'Maybe Later' %}</button>
                            <a href="mailto:guigyoumusic@gmail.com?Subject=Help%20Me" class="btn btn-alt-success" data-dismiss="modal">
                                <i class="fa fa-check"></i> {% trans 'Sure' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			{% block content %}

			{% endblock %}
			{#			<div class="block">#}
			{#				<div class="block-header block-header-default">#}
			{#					<h3 class="block-title">Blank <small>Get Started</small></h3>#}
			{#				</div>#}
			{#				<div class="block-content">#}
			{#					<p>Create your own awesome project!</p>#}
			{#				</div>#}
			{#			</div>#}
		</div>
		<!-- END Page Content -->
	</main>
	<!-- END Main Container -->

	<!-- Footer -->
	<footer id="page-footer" class="opacity-0">
		<div class="content py-20 font-size-xs clearfix">
{#			<div class="float-right">#}
{#				Crafted with <i class="fa fa-heart text-pulse"></i> by <a class="font-w600" href="https://1.envato.market/ydb" target="_blank">pixelcave</a>#}
{#			</div>#}
			<div class="float-left">
				<a class="font-w600" href="#" target="_blank">Gig2You</a> &copy; <span class="js-year-copy"></span>
			</div>
		</div>
	</footer>
	<!-- END Footer -->


	<!-- support button -->
	<div  style="position: fixed; right: 0; bottom: 0;">
		<button id="show_tutorial_button" type="button" class="btn btn-lg btn-circle btn-alt-info mr-10 mb-10 fa-pulse">
			<i class="fa fa-question"></i>
		</button>
	</div>
	<!-- END support button -->
</div>
<!-- END Page Container -->
{#	<!-- Onboarding Modal functionality is initialized in js/pages/be_pages_dashboard.min.js which was auto compiled from _es6/pages/be_pages_dashboard.js -->#}
<div class="modal fade" id="modal-onboarding" tabindex="-1" role="dialog" aria-labelledby="modal-onboarding"
	 aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-popout" role="document">
		<div class="modal-content rounded">
			<div class="block block-rounded block-transparent mb-0 bg-pattern">
				<div class="block-header">
					<div class="float-left">
						<div class="header-logo">
							<span class="custom-header-logo"></span>
						</div>
					</div>
					<div class="block-options">

						<a class="font-w600 text-danger" href="#" data-dismiss="modal" aria-label="Close">
							{% trans "Close" %}
						</a>
					</div>
				</div>
				<div class="block-content block-content-full">
					<div class="pb-20">
						<div class="row justify-content-center text-center">
							<div class="col-md-10 col-lg-8">
								<h3 class="font-size-h2 font-w300">{% trans "Welcome to Gig2You!" %}</h3>
							</div>
							<div class="col-md-12">
								<div class="videoWrapper">
									<!-- Copy & Pasted from YouTube -->
									<iframe width="560" height="349"
											src="{% user_tutorial_video user %}"
											frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{#	<!-- END Onboarding Modal -->#}


<!-- Codebase JS -->
<script src="{% static 'js/admin.core.min.js' %}"></script>
<script src="{% static 'js/admin.app.min.js' %}?v1.1.2"></script>
<script>
    $('#helpbutton').click(function () {
        jQuery('#modal-fadein').modal('show');
        {#jQuery('#myModalId').modal('toggle');#}
        {#    modal = $('#modal-fadein');#}
    {#    modal.addClass('show');#}
    {#    modal.css("display", "block");#}
    {#    modal.removeAttr("aria-hidden");#}
    {#    modal.attr("aria-modal", "true");#}
     });
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>
