{% extends 'core/base/base.html' %}
{% load static %}
{% load i18n %}
{% block custom_header_class %}nospace{% endblock %}
{% block extra_base_css %}
<style>
	.panel-details-title{
		text-align: right;
		font-weight: 600;
	}
    @media only screen and (max-width: 770px) {
      .panel-details-title{
            text-align: left;
            font-weight: 600;
        }
    }

    .panel-title{
		text-align: left;
        margin-left: 15px;
	}
	.panel-details-description{
		text-align: justify;

	}
	.panel-details .row{
		margin-top: 10px;
	}

	.table-button{

	}

	.errorlist.nonfield{
		color: red;
	}
</style>


{% endblock %}

{% block main_banner %}
	<div class="page-header text-center bg-img-full" style="background-image: url({% static 'images/bg-title.jpg' %}); margin-top: 0;">
		<div class="pad-top-lg hidden-sm"></div>
		<span class="bg-overlay"></span>
		<div class="container">
			<div class="row pad-top-md pad-bottom-xs">
				<div class="col-xs-12">
					<h1 class="heading">{% block internal_page_title %}{% endblock %}</h1>
				</div>
			</div>
		</div>
		<div class="pad-top-lg hidden-sm"></div>
	</div>
{% endblock %}