<!--
    Template que renderiza o formulário de criar/editar referências. Visível aos artistas somente.
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        #spin{
            margin: 5px;
            display: none;
        }
    </style>
	<h2 class="content-heading"> {% trans 'Song management' %} </h2>
	<div class="block">
		<div class="block-content">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
			<form data-toggle="validator" method="post" enctype="multipart/form-data">
				<fieldset>
					{% csrf_token %}
					{{ form|crispy }}
					<div id="msgSubmit" class="form-message hidden"></div>
                    <div class="row">
                        <button id="go" class="btn btn-success" type="submit">{% trans 'Go!' %}</button>
                        <div id="spin">
                            <div class="spinner-border text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span>{% trans 'Uploading file...' %}</span>
                        </div>
                    </div>
				</fieldset>
			</form>
		</div>
	</div>
	{% if song_id %}
		<div class="row text-right">
			<a href="{% url 'core:songdelete' song_id %}"
			   onclick="return confirm('{% trans 'Are you sure you want to delete this song?' %}');"
			   class="btn btn-danger"> {% trans 'Delete this song' %} </a>
		</div>
	{% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
           document.getElementById('go').onclick =
               function () {
                   if(document.getElementById("id_file").files.length > 0 && document.getElementById("id_name").value && document.getElementById("id_notes").value){
                       document.getElementById("spin").style.display = 'block';
                   }
               };
        });
    </script>
{% endblock %}
