<!--
    Template que renderiza a lista de referências do artista. Visível apenas aos artistas.
-->
{% extends 'core/base/base_internal.html' %}
{% load i18n %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block content %}
	<h2 class="content-heading"> {% trans 'My songs' %} </h2>
	<div class="block">
		<div class="block-content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
			<table class="table table-striped nowrap" id="mySongsTable" style="width:100%">
				<thead>
				<tr>
					<th>{% trans 'Name' %}</th>
					<th>{% trans 'Links' %}</th>
					<th>{% trans 'File' %}</th>
					<th>{% trans 'Details' %}</th>
				</tr>
				</thead>
				<tbody>
				{% for song in songs %}
					<tr style="text-align:left; font-family: 'Open Sans', 'sans-serif';">
						<td>{{ song.name }}</td>
						<td>
							{{ song.links }}
						</td>
						<td>
							{% if song.file %}
								<a href="{{ song.file.url }}" class="btn btn-info"><i class="fa fa-download"></i></a>
							{% else %}
								<i class="fa fa-times" style="color: red"></i>
							{% endif %}
						</td>
						<td>
							<a href="{% url 'core:songmanagement' %}?song_id={{ song.id }}"
							   class="text-right btn btn-info"><i class="fa fa-pencil"></i></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="block-content bg-body-light text-center ">
			<a href="{% url 'core:songmanagement' %}" class="btn btn-success">{% trans 'New Song' %}</a>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function () {
			console.log(1)
			$('#mySongsTable').DataTable({
				{#searching: false,#}
				{#paging: false,#}
				info: false,
				responsive: true,
				"scrollX": true
			});
		});

	</script>
{% endblock %}