<!--
    Bloco que informa as avaliações recebidas pelo Diretor Musical e pelos músicos do evento. O Diretor vê a sua nota
     e a de cada músico seu, enquanto que cada músico vê apenas a sua própria nota.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<!--
    Este bloco só aparece quando o evento já tiver acontecido. Somente o Diretor Musical e os Músicos daquele evento
     podem visualizar este bloco.
-->
{% if user_type == 'music_director' and event.is_finalized or user_type == 'musician' and event.is_finalized %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="block block-default">
                <div class="block-header block-header-default">
                    <h3 class="block-title">
                        {% trans 'Ratings' %}
                    </h3>
                </div>
                <div class="block-content block-details">
                    {% if user_type == 'music_director' %}
                        <div class="row">
                            <div class="col-xs-4 col-md-4 block-details-title">{% trans 'Music Director' %}:</div>
                            <div class="col-xs-8 col-md-8 block-details-description">
<!--                               renderiza uma estrela para cada ponto na nota (e.x.: nota 4-> 4 estrelas) -->
                                {% with ''|center:event.dm_rate as range %}
                                    {% for _ in range %}
                                        <i class="fa fa-fw fa-star text-success"></i>
                                    {% endfor %}
                                {% endwith %}
                                <br>
                                <small>
                                    {% trans 'The Music Director rate is the mean of his musicians rates' %}
                                </small>
                            </div>
                        </div>
                        {% for musician_event in musician_events %}
                            {% if musician_event.attended %}
                                <div class="row">
                                    <div class="col-xs-4 col-md-4 block-details-title">{{ musician_event.musician.name }}:</div>
                                    <div class="col-xs-8 col-md-8 block-details-description">
                                        {% with ''|center:musician_event.musician_rate as range %}
                                            {% for _ in range %}
                                                <i class="fa fa-fw fa-star text-success"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
<!--                        este bloco nao pôde ser reutilizado do de cima por causa na diferença no nome da variável
                            musician_events / musician_event. -->
                        <div class="row">
                            <div class="col-xs-4 col-md-4 block-details-title">{{ musician_events.musician.name }}:</div>
                            <div class="col-xs-8 col-md-8 block-details-description">
                                {% with ''|center:musician_events.musician_rate as range %}
                                    {% for _ in range %}
                                        <i class="fa fa-fw fa-star text-success"></i>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}