<!--
    Bloco de informações gerais do evento. Visível a todos. Ao final do bloco, há um sub-bloco de confirmação de
     participação, onde cada usuário será redirecionado à sua view de confirmação/recusa de participação no evento.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="block block-default">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            {% trans 'Details' %}
        </h3>
    </div>
    <div class="block-content block-details">
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Location' %}</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.region }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Address' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.address }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'CEP' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.cep }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Distance from downtown (in km)' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.distance_from_downtown }}</div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Event type' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.event_type }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Date' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.date }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Event time' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.event_time }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Sound testing date' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.presentation_date }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Sound testing time' %}:</div>
            <div class="col-xs-6 col-md-6 block-details-description">{{ event.presentation_time }}</div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Notes' %}:</div>
            {% if event.notes %}
                </div>
                <div class="row">
                <div class="col-xs-12 col-md-12 block-details-title text-justify">
                    {{ event.notes }}
                </div>
            {% else %}
                <div class="col-xs-6 col-md-6 block-details-description">-</div>
            {% endif %}
            </div>
    </div>

    <!-- Event confirmation section -->
    {% if event.is_active %}
        {% include 'core/event/detail_blocks/sub_block_confirm_participation.html' %}
    {% endif %}
</div>