<!--
    Bloco de informações pertinentes ao Contratante apenas. Basicamente renderiza os botões de Cancelamento e
     Conclusão do evento, caso passem nas condições descritas.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}
<!--
    o evento so pode ser cancelado pelo produtor do evento (artista ou não), e somente se a data dele ainda não
    houver passado (metodo is_past).
-->
{% if user_type == 'producer' and not event.is_past or user_type == 'artist' and not event.is_past and artist_is_producer %}
    {% if event.get_confirmed_is_pending or event.get_artist_confirmation_is_pending or event.get_everyone_declined %}
        <div class="row">
            <div class="col-md-12">
                <div class="block block-default">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            {% trans 'Cancel' %}
                        </h3>
                    </div>
                    <div class="block-content block-details">
                        <form style="margin-bottom: 0" method="post" id="cancelEvent"
                              action="{% url 'core:eventcancelled' event.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to cancel this entire event? This cannot be undone!' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-danger"> {% trans 'Cancel event' %} </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
<!--
    o evento so pode ser concluido pelo produtor do evento (artista ou nao), e somente se o evento houver passado, com
    artista e dm confirmados (metodo has_happened), e caso ele ainda não tenha sido concluido (variavel is_finalized).
-->
{% if user_type == 'producer' and event.has_happened and not event.is_finalized or user_type == 'artist' and artist_is_producer and event.has_happened and not event.is_finalized %}
    <div class="row">
        <div class="col-md-12">
            <div class="block block-default">
                <div class="block-header block-header-default">
                    <h3 class="block-title">
                        {% trans 'Conclude Event' %}
                    </h3>
                </div>
                <div class="block-content block-details">
                    <a class="btn btn-primary"
                       href="{% url 'core:eventconcluded' event.id %}">{% trans 'Conclude event' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}