<!--
    Bloco de detalhes de pagamento. Visível a todos, mas somente o produtor vê com maiores detalhes.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="block block-default">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    {% trans 'Payment Details' %}
                </h3>
            </div>
            <div class="block-content block-details">
<!--            se for o contratante do evento (produtor ou artista agindo como tal), vê mais detalhes sobre o pagamento. -->
                {% if user_type == 'producer' or user_type == 'artist' and artist_is_producer %}
                    <div class="row">
                        <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Transportation Fee' %}:</div>
                        <div class="col-xs-6 col-md-6 block-details-description">
                            R$ {{ event.total_musicians_transportation_fee }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Services Fee' %}:</div>
                        <div class="col-xs-6 col-md-6 block-details-description">
                            R$ {{ event.services_fee }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 block-details-title"><strong>{% trans 'Total Price' %}:</strong>
                        </div>
                        <div class="col-xs-6 col-md-6 block-details-description">
                            <strong>R$ {{ event.total_price }}</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Payment Method' %}:</div>
                        <div class="col-xs-6 col-md-6 block-details-description">{{ event.get_payment_method_display }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 block-details-title">{% trans 'Paid Ammount' %}:</div>
                        <div class="col-xs-6 col-md-6 block-details-description">
                            R$
                            {% if event.paid_ammount %}
                                {{ event.paid_ammount }}
                            {% else %}
                                0.0
                            {% endif %}
                            <small><br>{% trans 'It can take up to 3 business days for us to receive your payment' %}
                            </small>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-xs-4 col-md-4 block-details-title">{% trans 'Payment Status' %}:</div>
                        <div class="col-xs-8 col-md-8 block-details-description">
                            {% if not event.paid_ammount %}
                                <span class="fa fa-check-circle text-success"></span>
                            {% else %}
                                <span class="fa fa-clock-o text-warning"></span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>