<!--
    Bloco de informações pertinentes aos Músicos apenas. Basicamente renderiza a parte de referências musicais que o
     Diretor Musical passou para os músicos daquele evento.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

{% if user_type == 'musician' %}
    <div class="row">
        <div class="col-md-12">
            <div class="block block-default">
                <div class="block-header block-header-default">
                    <h3 class="block-title">
                        {% trans 'Artist references' %}
                    </h3>
                </div>
                <div class="block-content block-details">
                    <table class="table table-striped nowrap" style="width:100%">
                        <thead>
                        <tr style="text-align: center; font-family: 'Open Sans', 'sans-serif';">
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Links' %}</th>
                            <th>{% trans 'File' %}</th>
                            <th>{% trans 'Notes' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in songs %}
                            <tr style="text-align:center; font-family: 'Open Sans', 'sans-serif';">
                                <td>{{ song.name }}</td>
                                <td>
                                    {{ song.links }}
                                </td>
                                <td>
                                    {% if song.file %}
                                        <a href="{{ song.file.url }}" class="btn btn-info"><i
                                                class="fa fa-download"></i></a>
                                    {% else %}
                                        <i class="fa fa-times" style="color: red"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ song.notes }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}