<!--
    Bloco de informações sobre o Contratante do evento. Visível a todos.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="block block-default">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    {% trans 'Producer' %}
                </h3>
            </div>
            <div class="block-content block-details">
                <div class="row">
                    <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Name' %}</div>
                    <div class="col-xs-9 col-md-9 block-details-description">{{ event.producer.name }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Email' %}:</div>
                    <div class="col-xs-9 col-md-9 block-details-description">{{ event.producer.email }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Phone' %}:</div>
                    <div class="col-xs-9 col-md-9 block-details-description">{{ event.producer.phone }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Whatsapp' %}:</div>
                    <div class="col-xs-9 col-md-9 block-details-description">{{ event.producer.whatsapp }}</div>
                </div>
            </div>
        </div>
    </div>
</div>