<!--
    Bloco de comentários do evento, usados para que o artista e o diretor musical possam se comunicar de forma fácil.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<!--
    somente podem ocorrer comentarios se:
    a) o user logado for um artista, o evento estiver ativo (nao tiver sido cancelado) e o artista nao for o produtor do evento
    b) o user logado for um diretor musical e o evento estiver ativo
    c) qualquer um dos dois casos acima E:
        c.1) o evento ainda nao tiver acontecido (vide documentacao do metodo has_happened)
        c.2) o evento tiver acontecido mas ainda nao tiver sido finalizado pelo produtor
-->
{% if event.is_active %}
    {% if user_type == 'artist' and not artist_is_producer or user_type == 'artist' and artist_is_producer and artist_is_event_artist or user_type == 'music_director' %}
        {% if not event.has_happened or event.has_happened and not event.is_finalized %}
            <div class="row" id="commentsection">
                <div class="col-md-12">
                    <div class="block block-default">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">
                                {% trans 'Comments' %}
                            </h3>
                        </div>
                        <div class="block-content block-details">
                            <span class="text-muted"> {% trans 'In this section you can chat with the music director/artist of this event. Just type a message below, send it, and chat away!' %}</span><br><br>
    <!--                        lista os comentarios ja existentes com a estilizacao em formato de 'chat' -->
                            {% for comment in comments %}
    <!--                        se o comentario for seu, permitir deletar e estilizar a bolha do chat de acordo -->
                                {% if comment.author.email == user.email %}
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-5 comment">
                                            <span><strong>{{ comment.author.first_name }}</strong></span>
                                            <a onclick=" return confirm('{% trans 'Are you sure you want to delete this message?' %}');"
                                               class="text-danger" id="right"
                                               href="{% url 'core:deletemessage' comment.id event.id %} "><i
                                                    class="fa fa-times"></i></a>
                                            <br>
                                            <span>{{ comment.message }}</span><br>
                                            <small id="right">{{ comment.created_date.date }}</small><br>
                                        </div>
                                    </div>
    <!--                                se o comentario nao for seu, apenas estilizar a bolha de acordo -->
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-5 comment theirs">
                                            <span><strong>{{ comment.author.first_name }}</strong></span>
                                            <br>
                                            <span>{{ comment.message }}</span><br>
                                            <small id="right">{{ comment.created_date.date }}</small><br>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="block-content bg-body-light message-section">
                            <form id="comments" action="{% url 'core:sendmessage' event.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group message-type">
                                            <textarea class="form-control" name="message"
                                                      placeholder="{% trans 'Type your message here...' %}"></textarea>
    <!--                            o ctrl+enter para enviar nao funciona em aparelhos moveis, entao so mostra essa mensagem
                                    caso o usuario nao esteja em um dispositivo movel
    -->
                                    {% if not mobileAndTabletCheck %}
                                        <small>{% trans 'You can press Ctrl+Enter to send' %}</small>
                                    {% endif %}
                                </div>
                                <div class="text-right">
                                    <input class="btn btn-success" type="submit" value="{% trans 'Send' %}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
