<!--
    Bloco de exibição de detalhes do artista participante. Visível a todos.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="col-sm-12 col-md-6">
    <div class="block block-default">
        <div class="block-header block-header-default">
            <h3 class="block-title">
                {% trans 'Featuring Artist' %}
            </h3>
        </div>
        <div class="block-content block-details">
            <div class="row">
                <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Name' %}</div>
                <div class="col-xs-9 col-md-9 block-details-description">{{ event.artist.name }}</div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Email' %}:</div>
                <div class="col-xs-9 col-md-9 block-details-description">{{ event.artist.email }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Phone' %}:</div>
                <div class="col-xs-9 col-md-9 block-details-description">{{ event.artist.phone }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Whatsapp' %}:</div>
                <div class="col-xs-9 col-md-9 block-details-description">{{ event.artist.whatsapp }}</div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Confirmation' %}:</div>
                <div class="col-xs-9 col-md-9 block-details-description">{{ event.get_artist_confirmation_icon_html|safe }}</div>
            </div>
        </div>
    </div>
</div>