<!--
    Bloco responsável por permitir ao Diretor Musical atribuir sua banda para cada posição especificada pelo Contratante
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="row">
        <div class="col-md-12">
            <div class="block block-default">
                <div class="block-header block-header-default">
                    <h3 class="block-title">
                        {% trans 'Musicians' %}
                    </h3>
                </div>
                <div class="block-content block-details">
                    <div class="row">
                        <div class="col-xs-3 col-md-3 block-details-title">{% trans 'Necessary musicians' %}:</div>
                        <div class="col-xs-9 col-md-9 block-details-description">
                            <ul>
                                {% for musician_event in musician_events %}
                                    {% if musician_event.parent_musician_event %}
                                        <li style="list-style-type:none">
                                        <ul>
                                    {% endif %}
                                <li>
                                    {{ musician_event.instrument_for_humans }} -
                                    {% if musician_event.musician %}
                                        {{ musician_event.musician }}
                                        {% if musician_event.confirmation == event.get_confirmed_status_code %}
                                            <span class="fa fa-check-circle text-success"></span>
                                        {% elif musician_event.confirmation == event.get_pending_status_code %}
                                            <span class="fa fa-clock-o text-warning"></span>
                                        {% elif musician_event.confirmation == event.get_refused_status_code %}
                                            <span class="fa fa-times-circle text-danger"></span>
                                        {% endif %}
                                    {% else %}
                                        {% trans 'n/a' %}
                                    {% endif %}
                                </li>

                                {% if musician_event.parent_musician_event %}
                                    </li>
                                    </ul>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                {% if not event.is_past and event.is_active %}
                    <div class="block-content bg-body-light text-center">
                        <a href="{% url 'core:addmusicians' event.id %}"
                           class="btn btn-info">{% trans 'Add musicians' %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>