<!--
    Bloco responsável por permitir ao Diretor Musical definir e editar as referências recebidas pelos seus músicos
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="row">
    <div class="col-md-12">
        <div class="block block-default">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    {% trans 'References for musicians' %}
                </h3>
            </div>
            <div class="block-content block-details">
                <span class="text-muted"> {% trans 'These are the references that your musicians have access to' %}</span><br><br>
                <table class="table table-striped nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Links' %}</th>
                        <th>{% trans 'File' %}</th>
                        <th>{% trans 'Notes' %}</th>
                        <th>{% trans 'Details' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event_song in event_songs %}
                        <tr>
                            <td>{{ event_song.name }}</td>
                            <td>
                                {{ event_song.links }}
                            </td>
                            <td>
                                {% if event_song.file %}
                                    <a href="{{ event_song.file.url }}" class="btn btn-info"><i
                                            class="fa fa-download"></i></a>
                                {% else %}
                                    <i class="fa fa-times" style="color: red"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ event_song.notes }}
                            </td>
                            {% if not event.is_past %}
                                <td>
                                    <a href="{% url 'core:managereferencesforevent' event.id %}"
                                       class="text-right btn btn-info"><i class="fa fa-pencil"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if not event.is_past and event.is_active %}
                <div class="block-content bg-body-light text-center">
                    <a href="{% url 'core:managereferencesforevent' event.id %}"
                       class="btn btn-info">{% trans 'Add references for musicians' %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>