<!--
    Bloco que renderiza os botões de confirmação e recusa de participação no evento. Cada tipo de usuário é redire-
     cionado para uma view diferente. Este bloco somente não é visível para o Contratante.
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

{% if not event.is_past %}
    <div class="block-content bg-body-light">
        <div class="row">
            <!-- music director confirmation section -->
            {% if user_type == 'music_director' %}
                {% if event.is_confirmed %}
                    <span class="glyphicon glyphicon-ok-circle event-confirmation"></span>
                {% else %}
                    <div class="col-sm-6 col-md-6 text-left">
                        <form style="margin-bottom: 0" method="post" id="cancelEvent"
                              action="{% url 'core:refuseparticipation' event.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to refuse to participate on this event?' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-danger"> {% trans 'Refuse participation' %} </button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-6 text-right">
                        <form style="margin-bottom: 0" method="post"
                              action="{% url 'core:eventconfirmed' event.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to confirm your participation in this event? This cannot be undone!' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-success"
                                    name="button">{% trans 'Confirm participation' %}</button>
                        </form>
                    </div>
                {% endif %}
            <!-- artist confirmation section -->
            {% elif user_type == 'artist' and not artist_is_producer or user_type == 'artist' and artist_is_producer and artist_is_event_artist %}
                {% if not event.get_artist_confirmation_is_pending %}
                    <span class="glyphicon glyphicon-ok-circle event-confirmation"></span>
                {% else %}
                    <div class="col-sm-6 col-md-6 text-left">
                        <form style="margin-bottom: 0" method="post"
                              action="{% url 'core:eventconfirmed' event.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to confirm your participation in this event? This cannot be undone!' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-success"
                                    name="button">{% trans 'Confirm participation' %}</button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-6 text-right">
                        <form style="margin-bottom: 0" method="post" id="cancelEvent"
                              action="{% url 'core:refuseparticipation' event.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to refuse to participate on this event?' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-danger"> {% trans 'Refuse participation' %} </button>
                        </form>
                    </div>
                {% endif %}
            <!-- musician confirmation section -->
            {% elif user_type == 'musician' %}
                {% if musician_events.confirmation != 'PE' %}
                    {#										{{ event.get_status_code_icon_html(musician_events.confirmation) }}#}
                    {#                                        <span class="fa fa-check-circle text-success"></span>#}
                {% else %}
                    <div class="col-sm-6 col-md-6 text-left">
                        <form style="margin-bottom: 0" method="post"
                              action="{% url 'core:musicianconfirmation' musician_events.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to confirm your participation in this event? This cannot be undone!' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-success"
                                    name="button">{% trans 'Confirm participation' %}</button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-6 text-right">
                        <form style="margin-bottom: 0" method="post" id="cancelEvent"
                              action="{% url 'core:musicianrefusal' musician_events.id %}"
                              onsubmit="return confirm('{% trans 'Are you sure you want to refuse to participate on this event?' %}');">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-danger"> {% trans 'Refuse participation' %} </button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}