<!--
    Bloco que renderiza as referências submetidas pelo artista para o Diretor Musical
-->
{% load static %}
{% load i18n %}
{% load user_profile_tags %}

<div class="row">
    <div class="col-md-12">
        <div class="block block-default">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    {% trans 'Artist references' %}
                </h3>
            </div>
            <div class="block-content block-details">
                <span class="text-muted">{% trans 'These references are not showed to the musician. To send artist references to your musicians, look at the block below' %}</span><br><br>
                <table class="table table-striped nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Links' %}</th>
                        <th>{% trans 'File' %}</th>
                        <th>{% trans 'Notes' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artist_song in artist_songs %}
                        <tr>
                            <td>{{ artist_song.name }}</td>
                            <td>
                                {{ artist_song.links }}
                            </td>
                            <td>
                                {% if artist_song.file %}
                                    <a href="{{ artist_song.file.url }}" class="btn btn-info" download><i
                                            class="fa fa-download"></i></a>
                                {% else %}
                                    <i class="fa fa-times" style="color: red"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ artist_song.notes }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>